<!--
    @Author - Ram
-->
<div class="content-container" data-ng-controller="AcademicsController">
    <ul class="breadcrumb">
        <li>
            <a href="#/organization">{{'label.anchor.organization' | translate}}</a>
        </li>
        <li class="active">{{'label.anchor.manageacademicyear' | translate}}</li>
    </ul>


    <div class="form-group col-md-12">
        <div class="row">
            <input ng-model="filterText" type="text" class="form-control span marginbottom0px" ng-keyup="onFilter()" placeholder="{{'label.input.filterbyname' | translate}}"
            />
            <a href="#/createacademicyear" class="btn btn-primary pull-right" has-permission='CREATE_ACADEMIC_YEAR'>
                <i class="icon-plus icon-white "></i>&nbsp;&nbsp;{{'label.button.createacademicyear' | translate}}</a>
        </div>

    </div>

    <div>
        <table class="table">
            <thead>
                <tr class="graybg">
                    <th>{{'label.heading.academicname' | translate}}</th>
                    <th>{{'label.heading.academicshortname' | translate}}</th>
                    <th>{{'label.heading.academicsstartdate' | translate}}</th>
                    <th>{{'label.heading.academicsenddate' | translate}}</th>
                    <th>{{'label.heading.academicstatus' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" dir-paginate="academic in academics | orderBy:'fromDate' | filter:filterText | itemsPerPage: AcademicsPerPage">
                    <td class="pointer" data-ng-click="routeTo(academic.id)">{{academic.name}}</td>
                    <td class="pointer" data-ng-click="routeTo(academic.id)">{{academic.shortName}}</td>
                    <td class="pointer" data-ng-click="routeTo(academic.id)">{{academic.startDate | DateFormat}}</td>
                    <td class="pointer" data-ng-click="routeTo(academic.id)">{{academic.endDate | DateFormat}}</td>
                    <td class="pointer" data-ng-click="routeTo(academic.id)">{{academic.status.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>